name: Deploy GPPortal API to Azure

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@c85da3f8e815b3f3e17f502588ac26de70f5bf15

    - name: Set up Python
      uses: actions/setup-python@95e1f3e114634e79346c79e3a485e7d362f6b9a0
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        mkdir build
        cp -r * build/

    - name: Login to Azure
      uses: azure/login@f66fcb05d9ab8e7a97113a7f8e4d4e60bc8eed63
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@ec4c598c0e68b9e69e3f84677db529d75a2e43aa
      with:
        app-name: 'gpportal-api'
        package: './build'

